.btn {
    display: inline-block;
    padding: 13px 18px;
    border: 1px solid var(--primary);
    border-radius: var(--radius);

    background-color: transparent;
    color: var(--color-font-light);

    text-transform: uppercase;
    text-decoration: none;

    transition: all 300ms ease;
}

.btn:hover {
    background-color: var(--primary);
    text-shadow: var(--text-shadow);
    color: var(--color-font-light);
}

.btnFilled {
    display: inline-block;
    padding: 13px 18px;
    border: 1px solid var(--primary);
    border-radius: var(--radius);

    background-color: var(--primary);
    color: var(--color-font-light);

    text-transform: uppercase;
    text-decoration: none;

    transition: all 300ms ease;
}

.btnFilled:hover {
    background-color: transparent;
    text-shadow: var(--text-shadow);
    color: var(--color-font-light);
}
