@import url(./Utils/Fonts.css);

:root {
    --primary: #DE007B;
    --secondary: #0BD6D6;

    --color-font: hsl(0deg 0% 75%);
    --color-font-light: hsl(0deg 0% 100%);
    --font-family-primary: "Open sans",Arial,sans-serif;
    --font-family-secondary: "Poppins",Arial,sans-serif;

    --text-shadow: 0px 0px 3px #FFFFFF;
    --gutter-x: 13px;
    --gutter-y: 13px;

    --radius: 10px;
}

body {
    font-family: var(--font-family-secondary);
    color: var(--color-font);

    line-height: 1;

    background: rgb(74,40,156);
    background: -moz-radial-gradient(circle, rgba(74,40,156,1) 0%, rgba(0,9,43,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(74,40,156,1) 0%, rgba(0,9,43,1) 100%);
    background: radial-gradient(circle, rgba(74,40,156,1) 0%, rgba(0,9,43,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a289c",endColorstr="#00092b",GradientType=1);
}

.color-primary {
    color: var(--primary);
}

.color-secondary {
    color: var(--secondary);
}