.title {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main {
    position: relative;
    min-height: 100vh;
    flex-wrap: wrap;
}

.tagWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.planet {
    position: absolute;
    top: -10px;
    left: 13px;
    height: 100px;
    z-index: -1;
    transition: all ease 300ms;
}

.planetBig {
    position: absolute;
    height: 75px;
    right: 7%;
    top: 7%;
    transition: all ease 300ms;
    z-index: -1;
}

@media screen and (min-width: 720px) {
    .planetBig {
        height: 200px;
    }

    .planet {
        height: 200px;
    }
}