.main {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    flex-wrap: wrap;
    z-index: 1;
}

.main * {
    z-index: 1;
}

.title {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin: 0;
}

.subtitle {
    text-transform: uppercase;
    text-align: center;
}

.btnWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.galaxyWrapper {
    user-select: none;
    bottom: 0;
    left: 0;
    will-change: transform;
}

.planet {
    height: 200px;
    transition: all ease 300ms;
}

.astronaute {
    height: 150px;
    position: absolute;
    user-select: none;
    top: 0;
    left: 50%;
    transform: translate(-60%, -80%);
    transition: all ease 300ms;
    will-change: transform, scroll-position;
}

.planetOrange {
    bottom: 20%;
    right: 7%;
    height: 76px;
    user-select: none;
    transition: all ease 300ms;
    will-change: transform, scroll-position;
}


@media screen and (min-width: 720px) {
    .planetOrange {
        height: 125px;
    }

    .planet {
        height: 400px;
    }

    .astronaute {
        height: 250px;
    }

    .galaxyWrapper {
        left: 0;
    }
}