.main {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    flex-wrap: wrap;
    z-index: 1;
}

.main * {
    z-index: 1;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* background: transparent url(../../assets/img/background_hero.png) no-repeat padding-box; */
    background-position: center;

    opacity: .8;
    pointer-events: none;
}

.title {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin: 0;
}

.subtitle {
    text-transform: uppercase;
}

.btnWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.planet {
    width: 100%;
    height: 380px;
    transition: all ease 250ms;
}

.astronaute {
    width: 100%;
    height: 200px;
    transition: all ease 250ms;
    position: absolute;
    user-select: none;
    transform: translate(-2%, -73%);
}

.galaxyWrapper {
    bottom: -170px;
    left: -30px;
    max-height: 916px;
    max-width: 606px;
    user-select: none;
    transition: all ease 250ms;
}

.planetOrange {
    top: 40%;
    right: 10%;
    opacity: .8;
    max-width: 300px;
    mix-blend-mode: screen;
    user-select: none;
}