.main {
    position: relative;
    z-index: 1;
}

.asteroid {
    margin: 0 auto;
    pointer-events: none;
    z-index: -1;
    user-select: none;
    top: 0;
}

.col {
    max-width: fit-content !important;
    width: fit-content !important;
}

.link {
    color: var(--color-font-light);
    transition: all ease 300ms;
    text-transform: none !important;
    padding: 8px;
    border-radius: 2px;
}

.link:hover {
    color: var(--color-font-light);
    text-shadow: var(--text-shadow);
    background-color: var(--primary);
}