.item {
    width: fit-content !important;
    border-radius: 5px;
    padding: 13px;
    border: 1px solid var(--primary);
    transition: all ease 0.2s;
    cursor: pointer;
    font-size: 0.825rem;
}

.item.active,
.item:hover {
    background-color: var(--primary);
    color: var(--color-font-light);
}

.itemActive {
    width: fit-content !important;
    border-radius: 5px;
    padding: 13px;
    border: 1px solid var(--primary);
    cursor: pointer;
    background-color: var(--primary);
    color: var(--color-font-light);
    font-size: 0.825rem;
}
